aside {
	grid-area:aside;
	width: 90%;
	margin-top: 10px;
	background-repeat: no-repeat;
	box-sizing: border-box;

	@include ipad {
		width: 50%;
	}

	.advertisement {
		h1 {
			background-color: $secondColor;
		color: $mainColor;
		text:{
			align:center;
			transform:uppercase;
		}
		font-size: large;
		margin: 0;
		box-sizing: border-box;
			@media (max-width: 992px) {
				font-size: medium;
			}

			@media (max-width: 850px) {
				font-weight: 500;
			}

			@include ipad {
				width: 60%;
			}

			@media (max-width: 580px) {
				width: 75%;
			}
		}

		img {
			width: $w-100;

			@include ipad {
				width: 60%;
			}

			@media (max-width: 580px) {
				width: 75%;
				font-size: small;
			}			
			a {
				text-decoration: none;
			}
		}
	}
}

