aside {
	.commercial {
		@include ipad-mini {
			margin: 0 10px;
		}
		img {
			width: 60%;

			@include ipad {
				width: $w-100;
			}

			@include ipad-mini {
				width: 80%;
			}

		}
		h1 {
			background-color: #38383F;
			color: $mainColor;
			background-color: rgba(56, 56, 63, 0.6);
			text-align: center;
			text-transform: uppercase;
			width: 60%;
			margin: 0;

			@media (max-width: 1174px) {
				font-size: large;
			}
			
			@media (max-width: 820px) {
				width: $w-100;
			}
		
			@include ipad-mini {
				font-size: medium;
				width: 80%;
			}
		}
	} 
}
