.adsSection {
	.linking {
		width: $w-100;
		background-color: map-get($map: $paleta, $key: 'four');
		
		@media (max-width: 671px) {
			width: 75%;
		}

		.linkingPhrase {
			color: map-get($map: $paleta, $key: 'fourteen');
			text-transform: uppercase;
			text-align: center;
			animation-name: advertisementText;
			animation-duration: 5s;
			animation-timing-function: ease;
			margin: 0;

			
		}
}
	@media (max-width: 671px) {
		width: 60%;
	}
}

.imageAd {
	width: $w-100;

	@media(max-width: 671px) {
		width: 75%;
	}
}

@keyframes advertisementText {

	from {
		color: map-get($map: $paleta, $key: 'nine');
		text-align: center;
	}	

	to {
		color: map-get($map: $paleta, $key: 'fifteen');
		text-align: center;
	}

}

	