//Definir variables 

//Fuentes

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

$fontPrimary: 'Cabin', sans-serif; 
$fontForTitles: sans-serif;


//color 
$mainColor: #FFFFFF;
$secondColor: #EE0000;
$bgDark: rgba(0,0,0,0.7);

//display 
$d-flex: flex;
$d-grid: grid;

//tamaño 
$w-100: 100%;

// tamaño textos 
$textLg: 1.8rem;
$textMd: 1.4rem;
$textXs: 1.2rem;
$textP: 1.05rem