// Estilos para footer
footer {
	background-color: map-get($map: $paleta, $key: 'one');
	box-sizing: border-box;
	padding-top: 1.5rem;
	grid-area:footer;
	display: $d-flex;
	flex-direction: column;
}

.footerWord {
	color: map-get($map: $paleta, $key: 'fourteen');
	font-weight: $fontPrimary;
	font-weight: 700;
	font-size: small;
	display: $d-flex;
	justify-content: space-between;
	flex-wrap: 1rem;
	padding-left: 1rem;

}

.footerTxt--right {
		padding: 0 0.7rem 1.4rem 0;
		transform: translateY(2px);
	}


.footerSocial {
	
	@media (max-width: 470px) {
		padding: 5px 10px;
	}

	.footerImg {
		width: 10%;
		max-height: 3em;
		max-width: 3em;
		transform: translate(342px,-48px);
	
		@media (max-width: 800px) {
			padding: 1px;
		}
	
		@media (max-width: 470px) {
			padding-left: 5px;
			transform: translate(0,0) 
		}
	}	
		
}

.footerPage {
		text-decoration: none;
}		