#aboutUs {
	display: $d-grid;
	grid-template-columns: 2fr 0.5fr;
	grid-template-rows: 22vh 200vh 23vh;
	grid-template-areas: "nav nav" "main aside" "footer footer";

	@include pc-min {
		grid-template-columns: 2fr 0.5fr;
		grid-template-rows: 22vh 240vh 23vh;
		grid-template-areas: "nav nav" "main aside" "footer footer";
	}

	aside {
		@include ipad {
			width: $w-100;
		}
	}
	
	@media (max-width: 671px) {
		grid-template-columns: 1fr;
		grid-template-rows: 21vh 280vh 90vh 22vh;
		grid-template-areas: "nav" "main" "aside" "footer";
	}
}

fieldset {
	background-color: #38383F;
	margin: 1rem 1rem;
	width: 95%;

	@media (max-width: 665px) {
		width: 90%;
	}
}

form {
	display: $d-flex;
	flex-direction: column;
	align-items:baseline;

	label {
		margin: 5px 0;
	}

	input {
		display: $d-flex;
		flex-direction: column;
		align-content:space-around;
	}
}


.form-control {
	@media (max-width: 290px) {
		width: 62%;
	}
}

.genero {
	color: $mainColor;
	background: linear-gradient(to bottom, #38383F, #555555);
	&:hover {
		color: $mainColor;
		background: linear-gradient(to top, #e73827, #f85032); ;
	}

	option {
		background-color: $secondColor;
		color: $mainColor;
	}
}

fieldset {
	form {
		textarea {
			width: 80%;
			margin-bottom: 5px;
		}
	}
}


.buttons {
	display: $d-flex;
}

.reset {
	font-weight: bold;
	color: $secondColor;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 44%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 53%, rgba(0,0,0,1) 57%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 100%);
	&:hover {
		background: linear-gradient(to bottom, rgba(238,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(0,0,0,1) 0%, rgba(217,0,0,1) 51%, rgba(0,0,0,1) 100%);  
		color: $mainColor;
	}
}

.submit {
	@extend .reset
}

fieldset {
	legend {
		color: #FFFFFF;
		background-color: #38383F;
		font-weight: bold;
	}
	
	form {
		label {
			color: $mainColor;
			display: $d-flex;
			flex-direction: column;
			align-items: baseline;
		}
		div {
			color: $mainColor;
			display: $d-flex;
		}
	}

	h2 { 
		color: $mainColor;
		font-size: $textLg; 
	}	
}


#piloto {
	color: $mainColor;
	background: linear-gradient(to bottom, #38383F, #555555);
	&:hover {
		color: $mainColor;
		background: linear-gradient(to top, #e73827, #f85032);
	}

	option {
		background-color: $secondColor;
		color: $mainColor;
	}
}


.legendsQuiz {
	display: $d-flex;
	justify-content: space-evenly;

	@media (max-width: 1000px) {
		display: $d-flex;
		flex-direction: column;
		align-items: baseline;
	}

	label {
		color: $mainColor;
	}
}
