#aboutUs {
	@include grid (2fr 0.5fr, 22vh 200vh 23vh, "nav nav" "main aside" "footer footer"); 

	@include pc-min {
		@include grid (2fr 0.5fr, 22vh 240vh 23vh, "nav nav" "main aside" "footer footer");
	}

	aside {
		@include ipad {
			width: $w-100;
		}
	}
	
	@media (max-width: 671px) {
		@include grid (1fr, 21vh 280vh 90vh 22vh, "nav" "main" "aside" "footer");
	}
}

fieldset {
	background-color:  map-get($map: $paleta, $key: 'four');
	margin: 1rem 1rem;
	width: 95%;

	@media (max-width: 665px) {
		width: 90%;
	}
}

form {
	@include flex (column,baseline);

	label {
		margin: 5px 0;
	}

	input {
	@include d-flex (column, space-around);
	}
}


.form-control {
	@media (max-width: 290px) {
		width: 62%;
	}
}

.genero {
	color:  map-get($map: $paleta, $key: 'fourteen');
	background:  map-get($map: $paleta, $key: 'seven');
	&:hover {
		color:  map-get($map: $paleta, $key: 'fourteen');
		background:  map-get($map: $paleta, $key: 'ten'); ;
	}

	option {
		background-color:  map-get($map: $paleta, $key: 'eleven');
		color:  map-get($map: $paleta, $key: 'fourteen');
	}
}

fieldset {
	form {
		textarea {
			width: 80%;
			margin-bottom: 5px;
		}
	}
}


.buttons {
	display: $d-flex;
}

.reset {
	font-weight: $bold;
	color:  map-get($map: $paleta, $key: 'eleven');
	background:  map-get($map: $paleta, $key: 'thirteen');
	&:hover {
		background: map-get($map: $paleta, $key: 'twelve');  
		color:  map-get($map: $paleta, $key: 'fourteen');
	}
}

.submit {
	@extend .reset
}

fieldset {
	legend {
		color: $mainColor;
		background-color:  map-get($map: $paleta, $key: 'four');
		font-weight: $bold;
	}
	
	form {
		label {
			color:  map-get($map: $paleta, $key: 'fourteen');
			@include flex (column,baseline);	
		}
		div {
			color:  map-get($map: $paleta, $key: 'fourteen');
			display: $d-flex;
		}
	}

	h2 { 
		color:  map-get($map: $paleta, $key: 'fourteen');
		font-size: $textLg; 
	}	
}


#piloto {
	color:  map-get($map: $paleta, $key: 'fourteen');
	background:  map-get($map: $paleta, $key: 'seven');
	&:hover {
		color:  map-get($map: $paleta, $key: 'fourteen');
		background: map-get($map: $paleta, $key: 'ten');
	}

	option {
		background-color:  map-get($map: $paleta, $key: 'eleven');
		color:  map-get($map: $paleta, $key: 'fourteen');
	}
}


.legendsQuiz {
	display: $d-flex;
	justify-content: space-evenly;

	@media (max-width: 1000px) {
		@include flex (column,baseline);
	}

	label {
		color: map-get($map: $paleta, $key: 'fourteen');
	}
}
