//Estilo para news
#reportSection {
	@include grid (repeat(4, 1fr),20vh 210vh 120vh 22vh,"nav nav nav nav" 
	"main main main aside" 
    "main main main aside" 
    "footer footer footer footer");

    @include pc {
    	@include grid (repeat(4, 1fr),20vh 195vh 120vh 22vh,"nav nav nav nav" 
		"main main main aside" 
   	 	"main main main aside" 
   	 	"footer footer footer footer");
    }

    @media (max-width: 992px) {
    	@include grid (repeat(4, 1fr),23vh 250vh 265vh 22vh,"nav nav nav nav" 
		"main main main aside" 
	    "main main main aside" 
	    "footer footer footer footer");
    }

    @media (max-width: 850px) {
	  	@include grid (repeat(4, 1fr),23vh 250vh 250vh 22vh,"nav nav nav nav" 
		"main main main aside" 
	    "main main main aside" 
	    "footer footer footer footer");
    }

    @include ipad {
    	@include grid (1fr,23vh 545vh 55vh 22vh,"nav" "main" "aside" "footer");
    }

    @include ipad-mini {
    	@include grid (1fr,22vh 495vh 50vh 22vh,"nav" "main" "aside" "footer");
    }

    @media (max-width: 580px) {
    	@include grid (1fr,23vh 220vh 250vh 50vh 22vh,"nav" "main" "main" "aside" "footer"); 
    }
}

//Estilo para los artículos noticieros 
.newsArticle {
	display: $d-flex;
	@include ipad-mini {
		flex-wrap: wrap;
	}

	.newsItem {
		img {
			width: $w-100;
		}
	}
}

//Estilo para carrusel de noticias 

.carousel-caption {
	h5 {
		font-size: $textXs;

		@media (max-width: 465px) {
			font-size:0.8rem;
		}

	}	

	p {	
		color: map-get($map: $paleta, $key: 'fourteen');
		font-size: $textP;
		font-family: "Cabin", sans-serif;
	}
}

//Estilo para artículos noticieros

.newsItem {
	.newsTitle {
		font-size: $textLg;
		font-family: sans-serif;
	}


	p {
		font-size: $textP;
		line-height: 1.6rem;
	 }
}

