//Estilos para index 
main {
	grid-area: main;
	height: 10%;
}

body {
	background-image: url(../image/fondo-white.jpg);
	background-repeat: repeat-y;
	height: $w-100;
}

#body {
	@include grid (1fr,25vh 275vh 25vh, "nav" "main" "footer");
	
	@media (max-width: 1033px) {
		@include grid (1fr,25vh 300vh 25vh, "nav" "main" "footer");
	}

	@media (max-width: 723px) {
		@include grid (1fr,25vh 290vh 25vh, "nav" "main" "footer");
	}

	@media (max-width: 332px) {
		@include grid (1fr,17vh 280vh 22vh, "nav" "main" "footer");
	}
	
	@media (max-width: 328px) {
		@include grid (1fr,17vh 280vh 22vh, "nav" "main" "footer");
	}
	
	@media (max-width: 326px) {
		@include grid (1fr,21vh 280vh 22vh, "nav" "main" "footer");
	}
}

.containerImage {
	width: $w-100;
}

//Estilos para textos de presentación 

.communityPpt {
	display: $d-flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 4%;

		@media (max-width: 723px) {
			flex-direction: column;
			display: $d-flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 4%;  	
		}		
   }


	.presentationTitle {
		@include text ($fontForTitles,$textLg,700,center);
		background: map-get($map:$paleta, $key:'three');
		color: map-get($map: $paleta, $key: 'fourteen');
		margin: 3% 3%;
		width: 90%;
		
		@media (max-width: 326px) {
			font-weight: 500;
		}
		
		@media(max-width: 303px) {
			font-size: large;
		}			
	}

.presentationParagraph {
	@include text ($fontPrimary,$textMd,500,justify);
	line-height: 1.7rem;
	margin: 3% 3%;
	}

//Estilos para calendario

.month {
	h3 {
		font-size: $textMd;
	}
}

.scheduleTitle {
	text-align: center;
	font-size: $textLg;
	background: map-get($map: $paleta, $key: 'three');
	color: map-get($map: $paleta, $key: 'fourteen');

	@media (max-width: 332px) {
		font-weight: 500;
	}

	@media (max-width: 286px) {
		font-size: larger;
	}
}


.schedule {
	width: $w-100;
	margin-top: 30px;
	text-align: center;
	display: $d-flex;
	justify-content: center;

	@include pc {
		@include flex (column,center);
	}

	@media (max-width: 286px) {
		margin-right: 20px;
	}

	.month {
		@media (max-width: 332px) {
			margin-right: 20px;
		}
	}

	ol{
		list-style: none;
		display: $d-grid;
		grid-template-columns: repeat(7, 1fr);	

		.dayName {
			background-color: map-get($map: $paleta, $key: 'eight');
			color: map-get($map: $paleta, $key: 'fourteen');
			font-weight: $bold;
			text-align: center;
		}

		.firstDay {
			grid-column-start:5;
		}
			.first-day{
				grid-column-start:5;
			}
				.dayOne {
					grid-column-start: 3;
				}

					.raceDate {
						background-color: map-get($map: $paleta, $key: 'eleven');
						color: map-get($map: $paleta, $key: 'fourteen');
						font-weight: $bold;
					}			
	}
} 

li { text-align: right; }

.listItem {
	text-align: initial;
    list-style: none;
    padding: 4px;
    margin: 2px 0px;
    background: map-get($map: $paleta, $key: 'three');
    color: map-get($map: $paleta, $key: 'fourteen');
    width: 80%;
}

