//Estilos para gallery
#gallerySection {
	@include grid (1fr 1fr, 17vh 165vh 23vh, "nav nav" "main main" "footer footer");

	@include pc-min {
		@include grid (1fr,22vh 120vh 22vh, "nav" "main" "footer");
	}

	@media (max-width: 800px) {
		@include grid (1fr,22vh 105vh 22vh, "nav" "main" "footer");
	}

	@include samsung {
		@include grid (1fr,20vh 85vh 23vh,"nav" "main" "footer");
	}

	@media (max-width: 510px) {
		@include grid (1fr,21vh 75vh 23vh, "nav" "main" "footer");
	}

	@media (max-width: 470px) {
		@include grid (1fr,21vh 205vh 21vh, "nav" "main" "footer");
	}

	@include galaxy {
		@include grid (1fr,19vh 165vh 22vh,"nav" "main" "footer");
	}
}

// Estilos para textos en gallery 

.galleryTitle {
		@include text ($fontForTitles,$textLg,700,center);		
	background: map-get($map: $paleta, $key: 'three');
	color: map-get($map: $paleta, $key: 'fourteen');

	@include samsung {
			margin: 1em auto;
			font-weight: 500;
			color: map-get($map: $paleta, $key: 'fourteen');
		}
}
	
	.gallerySubtitle{
		@include text ($fontPrimary,$textMd,700,center);
		background: map-get($map: $paleta, $key: 'three');
		color: map-get($map: $paleta, $key: 'fourteen');

		@include samsung  {
			font-size: 1.1rem;
		}

		.link {
			text-decoration: none;
			color: map-get($map: $paleta, $key: 'eleven');
			&:hover {
				color:map-get($map: $paleta, $key: 'eleven');
				background-color:map-get($map: $paleta, $key: 'fourteen');
			}
		}

	}

// Estilos para la grilla de imágenes 

.galleryContainer {
	display: $d-grid;
	grid-template-columns:repeat(4, 5fr);
	grid-template-areas:repeat(4, 5fr);
	justify-items: center;
	width: 90%;
	margin: 1.5em auto;
	box-sizing: border-box;

	@media (max-width: 470px) {
		@include grid (1fr 1fr,repeat(8, 1fr) ,"box1 box2" "box3 box4" "box5 box6" 
		"box7 box8" "box9 box10" "box11 box12" 
		"box13 box14" "box15 box16");

		.box1 { grid-area: box1; }
		.box2 {grid-area: box2; }
		.box3 {grid-area: box3; }
		.box4 {grid-area: box4; }
		.box5 {grid-area: box5; }
		.box6 {grid-area: box6; }
		.box7 {grid-area: box7; }
		.box8 {grid-area: box8; }
		.box9 {grid-area: box9; }
		.box10 {grid-area: box10; }
		.box11 {grid-area: box11; }
		.box12 {grid-area: box12; }
		.box13 {grid-area: box13; }
		.box14 {grid-area: box14; }
		.box15 {grid-area: box15; }
		.box16 {grid-area: box16; }
	}

	.box {
		width: $w-100;
		height: auto;
		border: solid 0.25em rgba(0, 0, 0, 0.2);
		text-align: center;
		box-sizing:border-box;
		&:hover {
			transform: scale(1.15);
		}
		img {
			width: $w-100;
			height: $w-100;
		}
	}

}	
