#castSection {
	@include grid (1fr,23vh 670vh 60vh 22vh,"nav" "main" "aside" "footer");

	@media (max-width: 1174px) {
		@include grid (1fr,23vh 645vh 50vh 22vh,"nav" "main" "aside" "footer");
	}

	@include desktop {
		@include grid (1fr,22vh 855vh 50vh 22vh,"nav" "main" "aside" "footer");	
	}

	@include pc-min {
		@include grid (1fr,22vh 800vh 45vh 22vh,"nav" "main" "aside" "footer");
	}

	@include ipad-mini {
		@include grid (1fr,22vh 760vh 25vh 22vh,"nav" "main" "aside" "footer");
	}

	@media (max-width: 480px) {
		@include grid (1fr,22vh 770vh 25vh 22vh,"nav" "main" "aside" "footer");
	}
}

.titleWithImage {
	background: map-get($map: $paleta, $key: 'three');
	color: map-get($map: $paleta, $key: 'fourteen');
	box-sizing: border-box;
	font-size: $textLg;
}

.mediaContent {
	display: $d-flex;
	justify-content: space-evenly;
	margin-bottom: 3%;	

	iframe {
		border:{
			style:ridge;
			color:map-get($map: $paleta, $key: 'four');
			width:1.5rem 4rem 1.5rem 4rem;
		}
	}

}

.castContainer {
	@include desktop {
		display: $d-flex;
		flex-flow: column wrap;
	}
}

.tableItem {
	figure {
		border: 0.1px $mainColor solid;
	}
	figcaption {
		color: map-get($map: $paleta, $key: 'fourteen');
		font-weight: 400;
	}	
}


.table {
	margin-left: 5px;
	width: 80%;

	@include desktop {
		margin-bottom: 10px;
		width: $w-100;
	}

	@media (max-width: 660px) {
		width: $w-100;
	}

	@include samsung {
		width: $w-100;
	}

	@media (max-width: 455px) {
		width: $w-100;
	}
}

.rows {
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	grid-gap: 1px;
	background-color: map-get($map: $paleta, $key: 'five');
	font-weight: 600;
	box-sizing: border-box;
	width: 98%;
	
	.tableHeader{
	padding: 10px;
	background-color: map-get($map: $paleta, $key: 'four');
	color: map-get($map: $paleta, $key: 'eleven');
	display: $d-flex;
	justify-content: center;
	}
}

.body {
	.rows {
	padding: 10px;
	margin: 5px 0;
	}

	.tableItem {
		display: $d-flex;
		justify-content: center;
		width: 80%;
		color: map-get($map: $paleta, $key: 'fourteen');
		font-weight: 600;
		box-sizing: border-box;

		@include galaxy {
			width: $w-100;
		}
	}
}


.board {
	width: 50%;

	@include desktop {
		width: $w-100;
		margin: 0 5px
	}

	@media (max-width: 660px) {
		width: $w-100;
	}

	@include samsung {
		width: 98%;
	}
}

.line {
	@extend .rows;
	width: $w-100;

	.boardHeader {
 	@extend .tableHeader;
	}
}


.corpus {
	.line {
		padding: 10px;
   		margin: 5px 0;

   		@include desktop {
   			padding: 10px 10px;
   		}
	}

	.boardItem {
	@extend .tableItem;
	display: flex;
	justify-content: center;
   }
}

.tableItem {
	.tableFlag {
		width: 40%;
	}
}

.boardItem {
	.tableFlag {
		@media (max-width: 980px) {
			margin-right: 0.75em;
		}
	}
}

